@import "../../style/global.scss";

.she-onboarding-cover {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #f9fbfd;
    position: relative;

    .she-onbsec-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
    }

    .she-whitebg-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $she_white;
        border-radius: 10px;
        padding: 24px;
        box-sizing: border-box;
        position: relative;
        align-items: flex-end;
    }

    .she-step-two .she-whitebg-cover {
        padding: 25px 25px;
        min-height: 170px;
        justify-content: flex-start;
    }

    .she-steps-tab-cover {
        width: 100%;
        justify-content: flex-start;
        padding-top: 7%;
    }

    .she-chkbox-style {
        appearance: none;
        background-color: $she_white;
        border: 1px solid $she_toggle_off_bg;
        border-radius: 4px;
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin: 0 5px 0 0;
        outline: none;
        position: relative;
        transition: all 0.3s;

        &::after {
            border: solid $she_white;
            border-width: 0 2px 2px 0;
            content: "";
            height: 8px;
            left: 4px;
            opacity: 0;
            position: absolute;
            top: 7px;
            transform: rotate(45deg) scale(0) translate(-50%, -50%);
            transition:
                all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
                opacity 0.1s;
            width: 4px;
        }

        &:focus {
            box-shadow: none;
            outline: none;
            border-color: $she_dark_pink;
        }

        &:checked {
            background-color: $she_dark_pink;
            border-color: $she_dark_pink;
            opacity: 1;

            &::after {
                opacity: 1;
                transform: rotate(45deg) scale(1) translate(-50%, -50%);
                transition: all 0.1s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
            }

            &::before {
                display: none;
            }
        }
    }

    .she-wid-chk-name {
        font-family: $she_font_family;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: $she_black;
        cursor: pointer;
        position: relative;
        user-select: none;
    }

    .she-steps-cover {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 20px;
        user-select: none;
    }

    .she-step-box {
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 5px;
        padding: 5px 15px;
        border: 1px solid #9f9f9f;

        svg {
            fill: #d9d9d9;
            width: 20px;
            height: 20px;
        }

        .tpae-step-number,
        .she-step-name {
            text-align: center;
            z-index: 2;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tpae-step-number {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 9px;
            font-family: $she_font_family;
            font-size: 18px;
            font-weight: 500;
            background-color: $she_white;
            color: $she_gray_primary_normal;
            border: 1px solid $she-ghost-btn_border;
            border-radius: 100px;
        }

        &.she-step-active {

            background: #FFF0F6;
            border: 1px solid $she_dark_pink;

            svg {
                fill: $she_dark_pink;
            }

            .she-step-name {
                color: #9D1A4F
            }

            // .tpae-step-number {
            //     background-color: $she_dark_pink;
            //     color: $she_white;
            //     border-color: $she_dark_pink;
            // }
        }

        .she-step-name {
            font-family: $she_font_family;
            font-size: 12px;
            font-weight: 500;
            text-wrap: nowrap;
            width: 100%;
            color: #9f9f9f;
        }
    }

    // -----------------Steps Design Completed----------------- //

    // -----------------Cards Design Started----------------- //

    .she-start-crd-main {
        gap: 20px;
        width: max-content;
        width: -moz-max-content;

        .she-pink-common-btn {
            padding: 8px 14px;
            background: $she_dark_pink;
            color: #ffffff;
            border-radius: 5px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            align-self: flex-end;
            cursor: pointer;
        }

        .she-pink-common-btn.she-disable-element {

            cursor: not-allowed;

        }
    }

    .she-onbrd-crd-h {
        font-size: 20px;
        text-align: center;
        font-family: $she_font_family;
        font-weight: 500;
        margin: 0;
        position: relative;
        line-height: 25px;
        user-select: none;
    }

    .she-onbrd-crd-d {
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        font-family: $she_font_family;
        font-weight: 500;
        margin: 0;
        position: relative;
        user-select: none;
    }

    .she-strt-crd-cover {
        gap: 20px;
        width: min-content;
        height: 270px;


        .she-main-cover {
            background: linear-gradient(to bottom, #9d1a4f 0%, #9d1a4f 70%, #ffffff 70%, #ffffff 100%);
            border-radius: 10px;
        }

        .she-main-cover.no-elementor-pro[data-tooltip]:not([data-tooltip=""]):hover::after {
            content: attr(data-tooltip);
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: #fff;
            padding: 4px 8px;
            font-size: 12px;
            border-radius: 4px;
            white-space: nowrap;
            opacity: 1;
            pointer-events: none;
            z-index: 10;
        }

        // .she-main-cover.no-elementor-pro,
        // .she-main-cover.no-elementor-free {
        //     cursor: no-drop;
        //     // pointer-events: none;
        //     opacity: 0.5;
        //     position: relative;
        // }


        .she-main-cover-select {
            display: flex;
            justify-content: center;
            gap: 5px;
            background: #9d1a4f;
            // height: 19px;
            padding-top: 5px;
            // padding-bottom: 5px;
            border-radius: 5px;
            align-items: center;
            transform: translateY(-8px);
            transition: opacity 0.3s ease, transform 0.3s ease;
            opacity: 1;
        }

        // .she-main-cover-select.show {
        //     transform: translateY(0);
        //     display: flex;
        //     opacity: 1;
        // }

        .she-main-text {
            color: #ffffff;
            user-select: none;
        }

        // .she-main-cover-select.show + .she-strat-card {
        //     border-color: $she_dark_pink;
        // }
        .she-main-cover-select+.she-strat-card {
            border-color: $she_dark_pink;
        }

        .she-strat-card {
            width: auto;
            min-width: 212px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 32px;
            border: 1px solid $she_toggle_off_bg;
            gap: 8px;
            border-radius: 10px;
            transition: all 0.2s ease-in;
            cursor: pointer;
            position: relative;
            background: #ffff;
            user-select: none;

            // &:hover,
            &.tpae-active-board-card {
                border-color: $she_dark_pink;
            }

            .she-icon-box {
                width: 20px;
                height: 20px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $she_dark_pink;
                border: 1px solid $she_prpl_strip_tint;
                border-radius: 5px;
                position: relative;
            }

            .she-element-pro {
                position: absolute;
                background: #F9B744;
                top: -4px;
                padding: 2px;
                border-radius: 5px;
                right: -3px;
                width: 8px;
                height: 8px;
            }


            .she-crd-h {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                font-weight: 500;
                color: $she_black;
                font-family: $she_font_family;
                margin: 0;
                position: relative;
            }

            .she-elementor-button {
                padding: 5px 15px 6px 15px;
                background: #9d1a4f;
                color: #ffff;
                display: flex;
                align-content: center;
                align-items: center;
                border-radius: 4px;
                gap: 6px;
            }

            .she-elem-pro{
                text-decoration: none;
                color: #ffffff;
            }

            .tpar-crd-desc {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                margin: 0;
                font-weight: 400;
                color: $she_gray_primary_normal;
                font-family: $she_font_family;
                position: relative;
            }
        }

        .tpae-info-icon {
            position: absolute;
            top: 12px;
            right: 12px;

            &:hover {
                .tpae-tip-txt {
                    visibility: visible;
                }
            }

            .tpae-tip-txt {
                visibility: hidden;
                width: 199px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px;
                position: absolute;
                z-index: 1;
                bottom: 150%;
                left: 50%;
                margin-left: -100px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: black transparent transparent transparent;
                }
            }
        }
    }

    .she-pink-common-btn {
        background: #841742;
        color: #ffffff;
        padding: 8px 14px;
        border-radius: 5px;
        min-width: max-content;
        cursor: pointer;
    }

    .she-btmsm-btn {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        position: relative;

        .she-rit-btn-cover {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 15px;
        }
    }



    .she-btmsm-btn.she-step-three-btn {
        justify-content: center;
    }

    .she-btmsm-btn.theme-bulider-sections {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .she-link-btn {
        font-family: $she_font_family;
        width: fit-content;
        font-size: 14px;
        line-height: 20px;
        color: $she_gray_primary_normal;
        position: relative;
        cursor: pointer;

        &:hover {
            color: $she_dark_pink;

            &::after {
                transform: scaleX(1);
                transform-origin: bottom left;
                background-color: $she_dark_pink;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: -5px;
            left: 0;
            background-color: $she_dark_pink;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
    }

    // -----------------Cards Design End----------------- //

    // -----------------Step 2 Design Start----------------- //



    // -----------------Step 2 Design Completed----------------- //

    // -----------------Step 3 Design Start----------------- //


    // -----------------Step 3 Design Complted----------------- //

    // -----------------Step 4 Design Started----------------- /

    .she-enbltempl-cover {
        gap: 30px;
        justify-content: flex-start;

        .she-header-main-cover {
            padding: 15px;
            background: #ffffff;
        }

        .she-btn-wreper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .she-rit-btn-cover.step-foure-btn {
            display: flex;
            align-content: center;
            align-items: center;
            gap: 16px;
        }

        .tpae-pageimport-cover {
            gap: 30px;
            width: 100%;

            .tpae-page-crdgrid {
                width: 74%;
                height: 61vh;
                justify-content: center;
                flex-wrap: wrap;
                gap: 15px;
                background-color: $she_white;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $she_dark_pink;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $she_dark_pink;
                }
            }

            .tpae-impage-name {
                font-family: $she_font_family;
                font-size: 14px;
                font-weight: 500;
                color: $she_black;
                line-height: 20px;
                margin: 0px;
            }

            .tpae-impage-crd {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 28%;
                border: 1px solid $she_toggle_off_bg;
                padding: 12px;
                border-radius: 4px;
                transition: all 0.1s ease-out;
                overflow: hidden;
                position: relative;

                .tpae-import-pageimg {
                    width: 100%;
                    height: 188px;
                    border-radius: 4px;
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &::before {
                        visibility: hidden;
                        content: " ";
                        background-color: #000000b5;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        transition: opacity 0.1s ease-out;
                    }
                }

                &:hover {
                    border-color: $she_dark_pink;

                    .tpae-import-pageimg {
                        &::before {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    .she-pink-common-btn {
                        display: block;
                    }
                }

                .she-pink-common-btn {
                    display: none;
                    padding: 12px 14px;
                    background-color: $she_white;
                    color: $she_gray_primary_normal;

                    &:hover {
                        background-color: $she_table_border;
                    }
                }

                .tpae-tempcrd-link {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .she-onbsec-cover .she-step-foure {
        display: flex;
        align-items: center;
        width: 45%;
        user-select: none;

        .she-header-main-cover {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .she-last-child {
            display: flex;
            justify-content: center;
        }
    }

    .she-stay-upcover {
        justify-content: flex-start;
        width: 55%;
        gap: 30px;

        .she-onbrd-crd-h {
            width: 82%;
        }

        .she-whinf-cover {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 12px;

            .she-sm-txt,
            .she-icotxt {
                margin: 0;
            }

            .she-sm-txt {
                font-family: $she_font_family;
                color: $she_gray_primary_normal;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                user-select: none;
            }

            .she-grp-txtico {
                svg {
                    width: 12px;
                }
            }

            .she-icotxt {
                font-family: $she_font_family;
                color: $she_green;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 16px;
                font-weight: 500;
                user-select: none;
            }

            .she-staywid-list {
                .she-wid-chk-name {
                    font-size: 12px;
                    color: $she_gray_primary_normal;
                }
            }
        }

        .she-top-stxt {
            display: flex;
            width: 100%;
            gap: 9px;
            justify-content: space-between;
            align-items: flex-start;
        }

        .she-grp-txtico {
            display: flex;
            gap: 6px;
            justify-content: flex-start;
            align-items: center;
        }

        .she-in-boxfield {
            font-family: $she_font_family;
            font-size: 14px;
            line-height: 20px;
            width: 100%;
            color: $she_black;
            padding: 10px 15px;
            border: 1px solid $she_toggle_off_bg;
            border-radius: 5px;
            box-shadow: none;

            &:hover {
                border-color: $she_dark_pink;
            }

            &:focus {
                border-color: $she_dark_pink;
                box-shadow: none;
                outline: none;
            }
        }
    }

    // -----------------Stay Updated Completed-------------------- //


    // wdkit popup

    // .she-tpae-wdkit-popup {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0, 0, 0, 0.1);
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     z-index: 99999;
    // }

    .she-theme-content-bg {
        position: relative;
        // padding: 20px;
        border-radius: 8px;
        text-align: center;
        padding-bottom: 30px;
        // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        // width: 50vw;
        // height: auto;
    }

    .she-wdkit-popup-close {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        width: -moz-max-content;
        width: max-content;
        right: 20px;
        z-index: 999;
    }

    .she-onbording-accordion {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
    }


    .she-wdkit-popup-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 40px;
        width: 45%;
        background: $she_white;
    }

    .she-wdkit-popup-title {
        color: $she_black;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.4;
        user-select: none;
        width: 65%;
    }


    .she-wdkit-features-dic {
        text-align: center;
        user-select: none;
    }

    .she-wdkit-features-dic ul {
        list-style-type: none;
        padding: 2px;
        color: $she_black;
        display: flex;
        justify-content: center;
        gap: 5px 26px;
        flex-wrap: wrap;
    }

    .she-wdkit-features-dic ul li {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .she-wdkit-install-btn {
        padding: 12px 25px 12px 25px;
        background: #C22076;
        border-radius: 5px;
        color: #ffff;
        cursor: pointer;
    }

    .she-wdkit-learn-more {
        display: inline-block;
        position: relative;
        padding-left: 15px;
        color: #ffff;
        text-decoration: none;
        cursor: pointer;

        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    .she-wdkit-learn-more::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: -4px;
        left: 8px;
        background-color: #ffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .she-wdkit-learn-more:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .she-wdkit-popup-accordion {
        display: flex;
        flex-direction: column;
        gap: 8px;
        // padding: 30px 0px 30px 0px;
        user-select: none;
    }

    .she-wdkit-accordion-item {
        border: 1px solid rgb(240 240 240);
        border-radius: 8px;
    }

    .she-wdkit-accordio-content {
        display: flex;
        justify-content: space-between;
        background: #F0F0F0;
        padding: 10px;
        border-radius: 8px;
        color: $she_black;
    }

    .she-tpae-content-opan {
        border-bottom: 1px solid #ffffff30;
        border-radius: 8px 8px 0px 0px;
    }

    .she-wdkit-accd-ans {
        height: 0px;
        overflow: hidden;
        padding: 0px 10px 0px 10px;
        color: $she_black;
        transition: height 0.3s ease, padding 0.3s ease;
        word-spacing: 4px;
    }

    .she-wdkit-accd-ans.opan-accordion {
        height: auto;
        overflow: unset;
        padding: 10px;
        text-align: left;
    }

    // -------------------Media Query Start ------------------- //

    @media (max-width: 1242px) {

        .she-enbltempl-cover {
            .tpae-pageimport-cover {
                .tpae-impage-crd {
                    .tpae-import-pageimg {
                        height: 145px;
                    }
                }
            }
        }

        .she-enbltempl-cover {
            .tpae-pageimport-cover {
                .tpae-page-crdgrid {
                    width: 92%;
                }
            }
        }

        .she-stay-upcover {
            width: 68%;
        }
    }

    @media (max-width: 1024px) {
        .she-step-box {
            .tpae-step-number {
                font-size: 14px;
            }

            .she-step-name {
                font-size: 12px;
            }
        }

        .she-stay-upcover {
            width: 77%;
        }
    }

    @media (max-width: 900px) {
        .she-step-box {
            .tpae-step-number {
                width: 30px;
                height: 30px;
            }
        }
    }

    @media (max-width: 768px) {

        .she-strt-crd-cover {
            flex-wrap: wrap;
        }

        .she-steps-cover {
            &::before {
                top: 46%;
            }

            .she-step-box {
                &::after {
                    padding: 30px 22px;
                }
            }
        }

        .she-step-box {
            .she-step-name {
                display: none;
            }
        }

        .she-enbltempl-cover {
            .tpae-pageimport-cover {
                .tpae-page-crdgrid {
                    width: 100%;
                }
            }
        }

        .she-stay-upcover {
            .she-whinf-cover {
                .she-icotxt {
                    white-space: nowrap;
                }
            }
        }
    }

    @media (max-width: 576px) {

        .she-stay-upcover {
            width: 100%;
        }

        .she-steps-tab-cover {
            padding-top: 10%;
        }
    }

    @media (max-width: 375px) {
        .she-steps-cover {
            .she-step-box {
                &::after {
                    padding: 18px;
                }
            }
        }

        .she-steps-tab-cover {
            padding-top: 12%;
        }

        .she-enbltempl-cover {
            .tpae-pageimport-cover {
                .tpae-impage-crd {
                    .tpae-import-pageimg {
                        height: 154px;
                    }
                }
            }
        }

        .she-stay-upcover {
            .she-top-stxt {
                flex-wrap: wrap;
                gap: 9px;
            }

            .she-onbrd-crd-h {
                width: 100%;
            }
        }
    }
}

// -----------------Global for onboarding-------------------- //
.she-onboarding-cover .she-disable-element {
    opacity: 0.5;
    cursor: not-allowed;
}