.toplevel_page_elementor.menu-top-first.she-admin-notice-active>a .wp-menu-name::after {
    content: '1';
    background: #d5353b;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 11px;
    width: 16px;
    font-size: 12px;
    height: 16px;
    text-align: center;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toplevel_page_elementor.menu-top-first.she-admin-notice-active>ul>li>a[href="admin.php?page=she-header"] {
    position: relative;
    white-space: nowrap;}

.toplevel_page_elementor.menu-top-first.she-admin-notice-active>ul>li>a[href="admin.php?page=she-header"]::after {
    content: '';
    background: #d5353b;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 2px;
    width: 8px;
    height: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
}