@import "../../style/global.scss";

.she-theme-bulder-main {

    .she_theme_builder_box_cover_main {
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: $she_white;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 16px 25px;
        width: 100%;
        position: relative;
    }

    .she_theme_builder_grid_view_box {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        position: relative;
    }

    .she_theme_builder_box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }

    .she_theme_builder_cover_img_box {
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    .she_theme_builder_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .she_theme_builder_description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
    }

    .she_tb_crd_desc {
        font-family: $she_font_family;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        color: $she_gray_primary_normal;
        margin: 0;
    }

    .she_view_all_btm_btn {
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        margin: 30PX 0;
        position: relative;
    }   
}

@media (max-width:991px) {
    .she-theme-bulder-main .she_theme_builder_box_cover_main .she_theme_builder_grid_view_box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:576px) {
    .she-theme-bulder-main .she_theme_builder_box_cover_main .she_theme_builder_grid_view_box {
        grid-template-columns: repeat(1, 1fr);
    }
}
