@import "../style/global.scss";

#she-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -20px;
  min-height: calc(100vh - 32px);
  position: relative;
  width: calc(100% + 20px);
}

.notice,
.notice-errors,
.notice .notice-errors,
.notice-warning,
.is-dismissible {
  display: none !important;
}

.csp-notice
.pa-notice-wrap 
.pa-new-feature-notice 
.pa-review-notice	
.gt-admin-notice {
  display: none !important;
}

.she-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  position: relative;
}

.she_dashboard_main_cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // width: calc(100% + 20px);
  padding: 20px;
  box-sizing: border-box;

  .she_main_cover {
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;

    .she_navbox_cover {
      position: sticky;
      top: 52px;
      display: flex;
      flex-direction: column;
      // width: calc(26% - 20px);
      width: 25%;
      height: max-content;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.031372549);
      gap: 20px;
    }

    .she_dash_inner_main_cover {
      width: 80%;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      overflow: visible;
      position: relative;
    }
  }
}

.she-section-heading-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 25px;
  border-radius: 8px;
  background-color: $she_white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.031372549);
  position: sticky;
  top: 52px;
  z-index: 99;

  .she-section-heading {
    font-family: $she_font_family;
    font-size: 16px;
    color: $she_black;
    line-height: 15px;
    font-weight: 500;
    padding: 14px 0px;
    margin: 0;
  }
}

.she-purple-common-btn {
  font-family: $she_font_family;
  font-size: 14px;
  line-height: 16px;
  color: $she_white;
  background-color: $she_dark_pink;
  border-radius: 5px;
  width: fit-content;
  width: -moz-fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  border: none;

  &:hover {
    background-color: $she_btn_hover;
    color: $she_white;
  }

  &:focus {
    box-shadow: none;
    color: $she_white;
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
    color: $she_white;
  }
}

.she-purple-common-btn.disable {
  background-color: #bbb3ff;

  &:hover {
    background-color: #bbb3ff;
  }
}

.she-in-sec-heading {
  font-family: $she_font_family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $she_black;
  margin: 0;
  position: relative;
}

.she-ghost-btn {
  font-family: $she_font_family;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: $she_dark_blk;
  background-color: $she_white;
  padding: 12px 25px;
  border: 1px solid $she-ghost-btn_border;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  position: relative;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $she_white;
    background-color: $she_dark_pink;
    border-color: $she_dark_pink;
  }

  &:focus {
    box-shadow: none;
  }
}

.she_elementor_widgets_banner_top_sm_strip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 6px;
  background-color: $she_green;
  font-family: $she_font_family;
  font-size: 12px;
  line-height: 12px;
  color: $she_white;
  border-radius: 4px;
  margin-bottom: 35px;
}

.she_field_card {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  background-color: $she_white;
  border-radius: 8px;
  padding: 25px 30px;
  min-height: 155px;

  .she_field_card_heading_strip {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .she_field_card_title {
      font-family: $she_font_family;
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      cursor: pointer;
      color: $she_dark_blk;
    }
  }

  .she_card_descrip {
    font-family: $she_font_family;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: $she_dark_blk;
    min-height: max-content;
    margin: 0;
  }
}

.she_field_dropdown {
  width: 100%;
  position: relative;

  /** custome dropdown start **/

  .she_ctm_drpdwn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .she_ctm_drpdwn_header {
      max-width: 100%;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 15px;
      font-family: $she_font_family;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      border: 1px solid $she-ghost-btn_border;
      border-radius: 5px;
      color: $she_gray_primary_normal;
      border-color: $she-ghost-btn_border;
      gap: 10px;
      background-color: transparent;
      cursor: pointer;
      position: relative;

      &:focus {
        border-color: $she_dark_pink;
      }

      &:active {
        border-color: $she_dark_pink;
      }

      &:target {
        border-color: $she_dark_pink;
      }

      &:focus-visible {
        border-color: $she_dark_pink;
      }

      &:focus-within {
        border-color: $she_dark_pink;
      }

      label {
        margin-left: 5px;
        text-transform: capitalize;
        white-space: pre;
        font-size: 14px;
        overflow: hidden;
      }

      img {
        width: 24px;
      }
    }

    .she_ctm_drpdwn_content {
      display: none;
      flex-direction: column;
      box-shadow: 0px 20px 39px 3px rgba(0, 0, 0, 0.1);
      width: -moz-max-content;
      width: max-content;
      min-width: 100%;
      padding: 0px;
      z-index: 3;
      background-color: $she_white;
      position: absolute;
      margin-top: 59px;
      border-radius: 5px;
      cursor: pointer;
      box-sizing: border-box;

      &.theplus_wp_show {
        height: fit-content;
        display: flex;
      }

      span {
        margin: 5px;
        padding: 15px;
        border-radius: 5px;
        font-size: 14px;

        &:hover {
          background: $she_light_gray_tint;
          border-radius: 5px;
        }
      }
    }
  }

  /** custome dropdown end **/
}

/** field Card end **/

.she_warning_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  font-family: $she_font_family;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
  gap: 10px;
  color: #ffa800;
  position: relative;
}


/** info icon end **/

/** tool tip Start **/

.she-float-box-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $she_white;
  background-color: $she_gray_secondary_dark;
  padding: 9px 12px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 164px auto;
  width: max-content;
  height: max-content;
  opacity: 0;
  transition: all 0.2s ease-in;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $she_gray_secondary_dark transparent transparent transparent;
  }
}

// tool tip end //


@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }

  50% {
    background-color: #f0f0f0;
  }

  100% {
    background-color: #e0e0e0;
  }
}

//------------------- WDesignKit Banner End -------------------//

/** --------- media query start --------- **/

@media (max-width: 1200px) {
  .she_dashboard_main_cover .she_main_cover {
    
    .she_navbox_cover {
      width: calc(30% - 20px);
    }

    .she_dash_inner_main_cover {
      width: 70%;
    }
  }
}

@media (max-width: 1024px) {
  // .she_dashboard_main_cover {
  //   .she_main_cover {
     
  //     .she_navbox_cover {
  //       width: 30%;
  //     }
  
  //     .she_dash_inner_main_cover {
  //       width: 70%;
  //     }
  //   }
  // }

  .she-section-heading-cover {
    padding: 10px 20px;

    .she-section-heading {
      font-size: 16px;
      padding: 15px 0px;
    }
  }

  .she-purple-common-btn {
    padding: 10px 20px;
    font-size: 12px;
  }

  .she-in-sec-heading {
    font-size: 14px;
  }

  .she-ghost-btn {
    font-size: 12px;
    padding: 10px 20px;
  }

}

@media (max-width: 782px) {

  .she-section-heading-cover {
    top: 66px;
  }

  .she_dashboard_main_cover .she_main_cover {
    flex-direction: column;
    width: calc(100% - 20px);
    
    .she_navbox_cover {
      width: 100%;
    }

    .she_dash_inner_main_cover {
      width: 100%;
    }
  }

  .she_dashboard_main_cover {
    gap: 15px;
  }

  .she-ghost-btn {
    font-size: 12px;
    padding: 10px 20px;
  }
}

@media (max-width: 600px) {
  .she-section-heading-cover {
    top: 20px;
  }
}


/** --------- media query end --------- **/