@import "../../style/global.scss";

.she_dash_inner_main {

    .she_wlcm_sec_cover {
        background-color: $she_white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px;
        position: relative;

        .she_wlcm_sec_in {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .tpae_whats_new {
            padding: 12px 25px;
            text-align: center;
            border: 1px solid $she-ghost-btn_border;
            border-radius: 5px;
            height: fit-content;
            position: relative;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $she_dark_pink;

                .tpae_whats_new_txt {
                    color: $she_white;
                }
            }

            &:focus {
                box-shadow: none;
            }
        }

        .tpae_whats_new_count {
            background-color: $she_red;
            font-size: 10px;
            border-radius: 50px;
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -8px;
            right: -8px;
            color: $she_white;
        }

        .tpae_whats_new_txt {
            font-family: $she_font_family;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: $she_dark_blk;
        }

        .she_user_img_wn {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 24px;
            position: relative;
        }

        .she_user_img_cover {
            width: 70px;
            height: 70px;
            position: relative;
        }

        .she_user_img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }

        .tpae-pro-check {
            display: flex;
            height: max-content;
            width: max-content;
            position: absolute;
            top: 1px;
        }

        .tpae_user_name {
            font-family: $she_font_family;
            font-size: 16px;
            color: $she_black;
            line-height: 26px;
            font-weight: 500;
            margin: 0;
            line-height: 26px;
        }

        .she_slide_form_sec {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            flex-wrap: nowrap;
            align-items: flex-start;
            box-sizing: border-box;
            position: relative;
        }

        .she_numinfo_wdkit_cover {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            gap: 15px;
            width: 65%;
        }

        .she_numeric_info_cover {
            display: flex;
            width: 100%;
            gap: 15px;
            box-sizing: border-box;
            flex-wrap: nowrap;
            position: relative;
        }

        .she_numeric_card {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            justify-content: space-between;
            flex-direction: row;
            padding: 18px;
            border: 1px solid $she_light_gray_tint;
            border-radius: 8px;
            align-items: center;
        }

        .shw_arrow {
            cursor: pointer;
        }

        .tpae_numbers {
            font-family: $she_font_family;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: $she_dark_blk;
        }

        .she_sm_abt_num {
            font-family: $she_font_family;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            color: $she_dark_blk;
        }

        .she_product_slider {
            display: flex;
            align-items: flex-end;
        }

        .tp_sections_main {
            display: flex;
            background-color: #1717cc;
            width: 100%;
        }

        .she_slider_image {
            max-width: 45%;
            min-width: 35%;
            object-fit: contain;
        }

        .tp_sections_one {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            padding: 15px 25px;
            width: 50%;
        }

        .she_banner_heading {
            color: white;
            margin: 0;
            height: 45px;
        }

        .she_nxt_wdesignkit_btn_group {
            align-items: center;
            display: flex;
            gap: 15px;
            justify-content: left;
            width: 100%;
        }

        .she_install_wdesignkit_btn {
            background-color: #c22076;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            padding: 12px 15px;
            cursor: pointer;
            text-align: center;
            white-space: nowrap;

            button,
            a {
                background-color: transparent;
                border: none;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .she_learn_btn_link {
            color: white;
            font-family: $she_font_family;
            font-size: 12px;
            line-height: 22px;
            position: relative;
            text-decoration: none;
            white-space: nowrap;
        }

        .she_learn_btn_link::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 1.5px;
            bottom: 1px;
            left: 0px;
            background-color: #fff;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }

        .she_learn_btn_link:hover::after {
            transform: scaleX(1)
        }

        .she_sub_form_cover {
            width: 35%;
            height: 100%;
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            background: $she_dark_pink;
            padding: 20px;
            border-radius: 5px;
        }

        .she_subscribe_form_h {
            font-family: $she_font_family;
            color: $she_white;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            margin: 0;
            padding-bottom: 20px;
        }

        .she-name-container {
            position: relative;
            width: 100%;
        }

        .she_subscribe_input {
            border: 1px solid $she_white_light;
            border-radius: 5px;
            padding: 10px 15px;
            color: $she_white;
            font-family: $she_font_family;
            background-color: transparent;
            font-size: 12px;
            line-height: 17px;
            font-weight: 400;
            width: 100%;
            box-sizing: border-box;

            &::placeholder {
                color: $she_white_light;
            }

            &:focus {
                box-shadow: none;
                outline: none;
                border: 1px solid $she_white;
            }

        }

        .she-username-tooltip {
            background-color: red;
            color: white;
            width: max-content;
            padding: 6px;
            position: absolute;
            top: -39px;
            left: 50%;
            transform: translate(-50%, 0);
            border-radius: 6px;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: red transparent transparent transparent;
            }

        }

        .she_subscribe_btn {
            font-family: $she_font_family;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: $she_red_btn_bg;
            background-color: $she_white;
            border-radius: 5px;
            padding: 16px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            transition: 0.3s linear;
            box-sizing: border-box;

            &:hover {
                background-color: $she_nav_strip_bg_light;
            }
        }
    }

    .she_qik_infocrd_main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        box-sizing: border-box;
        position: relative;

        .she_qikinfo_grp_cover {
            display: flex;
            gap: 20px;
            width: 100%;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .she-ghost-btn {
            width: 100%;
        }

        .she_qik_infocrd_cover {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            background-color: $she_white;
            border-radius: 10px;
            width: 26%;
            min-height: 119px;
            padding: 20px;
            gap: 15px;
            position: relative;

            &.she_ratings_box {
                max-width: 49.2%;
                width: 55%;
            }
        }

        .she-purple-common-btn {
            width: 100%;
        }

        .she_qik_info_crd_title {
            font-family: $she_font_family;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            margin: 0;
            color: $she_black;
        }

        .she_rating_box {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 9px;
            position: relative;

            a {
                &:focus {
                    box-shadow: none;
                }

                svg {
                    fill: $she_toggle_off_bg;
                }

                &:hover {
                    svg {
                        path {
                            fill: #f9b744;

                        }
                    }
                }
            }

        }

        .she_icon_bx_cover {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            position: relative;
            width: 100%;
        }

        .theplus_icon_cover {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            background-color: $she_dark_pink;
            cursor: pointer;
            text-decoration: none;

            &:focus {
                box-shadow: none;
            }

            &:hover {
                background-color: #831642;
            }
        }
    }

    .slideshow-container,
    .she-slideshow-skeleton {
        overflow: hidden;
        position: relative;
        padding-bottom: 0;
        border-radius: 8px;
        height: 150px;
        width: 100%;
    }

    .she_main_slider {
        display: none;
    }

    .she-slider-text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
    }

    .she_main_slider.active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        height: 100%;
    }

    .she_slider_dot {
        text-align: center;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .dot {
        margin: 0 2px;
        border-radius: 50%;
        cursor: pointer;
        background: #ccc;
        width: 8px;
        height: 8px;
        margin: 3px;
        transition: transform .2s linear;
    }

    .dot.active {
        background: #fff;
        transform: scale(1.4);
        z-index: 1;
    }

    .slide_animation {
        animation: slide_animation 1s ease;
    }

    @keyframes slide_animation {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }
}

.she_whats_new_cover {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0px;
    width: 100%;
    height: 100vh;
    transition: 0.3s linear;
    z-index: 1000;

    &.she_whats_new_box_opened {
        right: 0;
        opacity: 1;

        &::-webkit-scrollbar {
            display: block;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgray;
            border-radius: 16px;
        }

        &::-webkit-scrollbar-track {
            background-color: lightgray;
        }
    }

    &.she_whats_new_box_closed {
        right: -100%;
        opacity: 0;
    }

    .she_heading_icon_strip {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        position: relative;
        margin-top: 30px;

        .she_whats_new_heading {
            font-family: $she_font_family;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            color: $she_black;
            margin: 0;
        }

        .she_whats_new_close_btn {
            cursor: pointer;
        }
    }

    .she-whats-new-outer {
        position: fixed;
        width: 100%;
        height: 100vh;
    }

    .she-whats-new-inner {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        overflow: scroll;
        gap: 10px;
        width: 350px;
        height: 100vh;
        background: white;
        padding: 20px;
        transition: all 0.5s ease-in-out;
        box-shadow: -5px 4px 124px 0px rgba(0, 0, 0, 0.1490196078);
        z-index: 9;

        &::-webkit-scrollbar {
            display: block;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgray;
            border-radius: 16px;
        }

        &::-webkit-scrollbar-track {
            background-color: lightgray;
        }

    }

    .she_whats_new_card_info_cover {
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;
        margin: 15px 0px;

        .she_whats_new_img_cover {
            position: relative;
            width: 100%;
            border-radius: 9px;
            overflow: hidden;
        }

        .she_whatsn_new_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .she_img_heading_info {
            font-family: $she_font_family;
            font-size: 18px;
            line-height: 28px;
            font-weight: 500;
            color: $she_black;
            margin: 0;
            padding-top: 16px;
            position: relative;
        }

        .she_text_info {
            font-family: $she_font_family;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            color: $she_gray_primary_normal;
            margin: 0;
            padding-top: 7px;
            position: relative;
        }

        .she_whats_new_btn_group {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 22px;
            padding-top: 20px;
            position: relative;
            text-decoration: none;
        }

        .she_whats_new_info_cta_btn {
            font-family: $she_font_family;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            color: $she_white;
            text-align: center;
            border-radius: 5px;
            background-color: $she_dark_pink;
            padding: 12px 25px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            position: relative;
            text-decoration: none;

            &:hover {
                background-color: $she_purple_dark;
            }
        }

        .she_whats_new_btn_link {
            font-family: $she_font_family;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            color: $she_gray_primary_normal;
            cursor: pointer;
            position: relative;
            text-decoration: none;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 1px;
                bottom: 0px;
                left: 0;
                background-color: $she_gray_primary_normal;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover {
                &::before {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }

    .tpae_wht_ghst_cmn_btn {
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.she-data-loader {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 75px;
        transform-origin: center;
        animation: rotate4 2s linear infinite;
        stroke: $she_purple_dark;
    }

    circle {
        fill: none;
        stroke-width: 2;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash4 1.5s ease-in-out infinite;
    }

    @keyframes rotate4 {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes dash4 {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }

        50% {
            stroke-dasharray: 90, 200;
            stroke-dashoffset: -35px;
        }

        100% {
            stroke-dashoffset: -125px;
        }
    }

}

.she_dash_inner_main.she-skeleton {

    .she_user_name,
    .tpae_numbers,
    .she_sm_abt_num,
    .she_sub_form_cover,
    .she_subscribe_input,
    .she_subscribe_btn,
    .she_qik_info_crd_title,
    .she-ghost-btn,
    .she_rating_box,
    .theplus_icon_cover,
    .she-slideshow-skeleton,
    .tpae_whats_new_txt,
    .she_numeric_card {
        background: $she_skeleton_bg;
        animation: $she_animation;
        color: transparent;
        pointer-events: none;
        border: none;

        &::placeholder {
            color: transparent;
        }

        img {
            display: none;
        }
    }

    .she_wlcm_sec_cover .she_numeric_card {
        gap: 10px;

        .tpae_numbers {
            width: 50%;
        }
    }


    .tpae_whats_new,
    .she_subscribe_form_h {
        pointer-events: none;
        color: transparent;
    }

    path {
        fill: none;
    }

    .shw_arrow {
       z-index: -99;
    }
}


@media (max-width: 1440px) {
    .she_dash_inner_main .she_wlcm_sec_cover .she_subscribe_form_h {
        font-size: 16px;
        padding-bottom: 14px;
        padding-right: 0;
    }

    .she_whats_new_cover {
        .she_whats_new_card_info_cover {

            .she_img_heading_info {
                font-size: 16px;
            }

            .she_heading_icon_strip {
                .she_whats_new_heading {
                    font-size: 16px;
                }

                .she_whats_new_close_btn {
                    width: 6%;
                }
            }

            .she_text_info {
                font-size: 12px;
            }

            .she_whats_new_info_cta_btn {
                font-size: 12px;
                padding: 9px 19px;
            }

            .she_whats_new_btn_link {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 1290px) {
    .she_dash_inner_main .she_qik_infocrd_main .she_qik_infocrd_cover {
        min-height: 130px;
        padding: 16px;
        width: 48%;

        &.she_ratings_box {
            width: 100%;
            max-width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width :1176px) {
    .she_dash_inner_main .she_qik_infocrd_main .she_qikinfo_grp_cover {
        flex-wrap: wrap;
        gap: 18px;
    }
}

@media (max-width: 1024px) {
    .she_dashboard_main_cover {
        .she_wlcm_sec_cover {
            padding: 21px;

            .tpae_user_name {
                font-size: 21px;
            }

            .she_user_img_cover {
                width: 60px;
                height: 60px;
            }

            .tpae_whats_new {
                font-size: 13px;
                padding: 12px 16px;
            }

            .she_slide_form_sec {
                flex-wrap: wrap;
            }

            .she_numinfo_wdkit_cover {
                gap: 15px;
                position: relative;
                width: 100%;
                height: unset;
            }

            .she_numeric_card {
                padding: 11px;
            }

            .she_sm_abt_num {
                font-size: 11px;
            }

            .tpae_numbers {
                font-size: 16px;
            }

            .tpae_wdk_left_content {
                padding: 25px;
            }

            .she_sub_form_cover {
                width: 100%;
                padding: 25px;
                height: fit-content;
            }
        }

        .she_subscribe_btn {
            padding: 12px 16px;
        }

        .she_qik_infocrd_main .she_qik_infocrd_cover {
            width: 48%;
        }

        .theplus_elementor_widgets_banner_left_content {
            .theplus_elementor_widgets_banner_top_sm_strip {
                margin-bottom: 22x;
            }

            .tpae_ele_wid_banner_btn {
                padding: 9px 19px;
            }

            .theplus_banner_points_listing {
                margin-top: 25px;
                flex-wrap: wrap;
            }
        }
    }

    .she_whats_new_cover {
        width: 51%;
    }
}

@media (max-width: 768px) {
    .she_dashboard_main_cover {
        .she_main_cover {

            .she_wlcm_sec_cover {
                .tpae_wdk_left_content {
                    padding: 21px;
                }

                .tpae_user_name {
                    font-size: 18px;
                }
            }

            .she_sub_form_cover {
                padding: 21px;
            }
        }
    }

    .she_whats_new_cover {
        width: 55%;
        padding: 22px;

        .she_heading_icon_strip {
            margin-top: 30px;
        }
    }

    .tpae_catwise_wid_manage_cov {
        padding-bottom: 26px;
    }
}

@media (max-width:720px) {
    .she_dashboard_main_cover .she_qik_infocrd_main .she_qik_infocrd_cover {
        width: 100%;
    }
}