@import "../../style/global.scss";

.she_navigation_cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $she_white;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    position: sticky;
    top: 52px;
    z-index: 99;

    .she_logo_strip {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: $she_dark_pink;
        align-items: center;
        box-sizing: border-box;
        padding: 18px;
        position: relative;

        .she-mobile-menu-cn {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .she-menu-btn {
                display: none;
            }
        }

        .she_main_logo {
            width: 73px;
        }

        .she_hint_text {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-family: $she_font_family;
            color: $she_white;
            padding: 6px 10px;
            border-radius: 5px;
            background-color: $she_white_very_light;
            font-size: 12px;
        }
    }

    .she_navlinks_cover {
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;
        padding: 20px 10px;
    }

    .she_navlinks_inner_cover {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 10px;
        list-style: none;
        position: relative;
        margin: 0;

        li {
            margin-bottom: 0;
        }

        .she_navlink {
            width: 100%;
            display: flex;
            align-items: center;
            font-family: $she_font_family;
            font-size: 16px;
            font-weight: 500;
            color: $she_black;
            padding: 12px 15px 12px 15px;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 5px;
            text-decoration: none;
            border: 1px solid transparent;
            position: relative;
            white-space: nowrap;

            &:hover {
                color: $she_dark_blk;
                background-color: $she_nav_strip_bg_light;
            }

            &:focus {
                box-shadow: none;
                background-color: $she_nav_strip_bg_light;
            }

            &.she_active_tab {
                color: $she_dark_pink;
                background-color: $she_nav_strip_bg_light;
            }

            // &:active {
            //     border: 1px solid $she_dark_pink;
            //     color: $she_dark_pink;
            //     background: $she_dark_pink;
            // }
        }

        .she_navlink_cover {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .she_ver_nd_sys_info {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        margin: 0px 15px;

        .she_version,
        .she_system_info {
            text-wrap: nowrap;
            color: $she_gray_primary_normal;
            text-decoration: none;
            font-size: 12px;
        }

        .she_system_info:focus {
            box-shadow: unset
        }
    }
    
    .she_ext_opt_in_tabs {
        list-style: none;
        margin: 10px 0 0 19px;
        border-left: 1px solid #dcdcdc;

        .she_nav_dropdown_links {
            margin: 0 0 10px 12px;

            .she_navlink {
                font-size: 14px;

                &.she_active_tab:after {
                    background-color: $she_dark_pink;
                    border-radius: 100%;
                    bottom: 0;
                    content: " ";
                    height: 7px;
                    margin: auto 0;
                    position: absolute;
                    right: 20px;
                    top: 0;
                    width: 7px;
                }
            }
        }
    }

    .she-nav-tag {
        display: flex;
        align-items: center;
        padding: 4px 10px;
        background: rgba(157, 26, 79, 1);
        color: #FFFFFF;
        border-radius: 4px;
        position: relative;
        left: 10px;

        .she-nav-tag-txt {
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.she_nav_bnner {

    background: rgba(4, 4, 131, 1);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 12px;

    .she_bnner_txt {
        color: #ffff;
        padding: 5px 10px 5px 13px;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
    }

    .she_dwd_sections {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .she_dwd_btn {
        padding: 10px;
        background: rgba(194, 32, 118, 1);
        color: #ffff;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }

    .she_dwd_link {
        display: flex;
        align-items: center;
        color: white;
        font-family: $she_font_family;
        font-size: 12px;
        line-height: 22px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
    }

    .she_dwd_link::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1.5px;
        bottom: 6px;
        left: 0px;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .she_dwd_link:hover::after {
        transform: scaleX(1)
    }

    .she_footer_img {
        display: flex;
        width: 100%;
        height: 20vh;
        position: relative;
        background-size: cover;
        background-image: url(../../../assets/images/banner/footer_wdk.png);
    }
}

// media query start

@media (max-width: 1440px) {
    .she_navigation_cover {
        .she_logo_strip .she_hint_text {
            font-size: 12px;
        }

        .she-nav-tag {
            display: none;
        }   
    }
}

@media (max-width: 1024px) {
    .she_navigation_cover {
        .she_logo_strip {
            .she_hint_text {
                padding: 5px 8px;
            }
        }
    }
}

@media (max-width: 782px) {
    .she_navigation_cover {
        top: 66px;

        .she_logo_strip .she-mobile-menu-cn .she-menu-btn {
            display: flex;
        }

        .she_navlinks_cover {
            transition: 0.3s linear;
            padding: 0px 15px;
            height: 0;

            &.she_open_menu {
                padding: 10px 15px;
                height: max-content;
            }
        }
    }

    .she_nav_bnner{
        display: none;
    }
}

@media (max-width: 600px) {
    .she_navigation_cover {
        top: 20px;
    }
}

@media (max-width: 768px) {
    .she_navigation_cover {
        .she_navlinks_cover {
            .she_navlinks_inner_cover {
                gap: 0;
            }

            .she_ver_nd_sys_info {
                gap: 7px;
                padding: 9px;

                .she_version,
                .she_system_info {
                    padding: 0px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .she_navigation_cover .she_navlinks_inner_cover .she_navlink {
       font-size: 14px;
    }
}

// media query end