
@import "../../style/global.scss";

.she_products_cover_main {

    .she_product_box {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 24px;
        background-color: $she_white;
        border-radius: 8px;
        position: relative;

        .she_product_logo_title_cover {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 12px;
        }

        .she_product_name {
            font-size: 14px;
            user-select: none;
        }

        .she-installation {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            .she-install-btn {
                display: flex;
                min-width: 160px;
                gap: 5px;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                color: #9D1A4F;
                background-color: transparent;
                padding: 12px 25px;
                border: 1px solid #9D1A4F;
                border-radius: 5px;
                white-space: nowrap;
                cursor: pointer;
                transition: 0.3s linear;

                &:hover {
                    background-color: rgb(255 244 249);
                }

                &.she-success {
                    color: #0DAE05;
                    border-color: #0DAE05;
                    pointer-events: none;
                }

            }

            .she-loading-circle {
                height: 15px;
                width: 15px;
                border: 3px solid #8072fc;
                border-bottom: 3px solid #8072fc4a;
                border-radius: 50%;
                animation: loading 1s infinite linear;
            }

        }

        .she_product_logo {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            position: relative;

            img {
                width: 50px;
                height: 100%;
                object-fit: contain;
                object-position: center;
                position: relative;
                user-select: none;
            }
        }

        .she-ghost-btn {
            text-wrap: nowrap;
        }
    }
}

.she_products_cover_main.she-skeleton {

    .she_product_logo,
    .she-in-sec-heading,
    .she_product_box .she-installation .she-install-btn,
    .she-ghost-btn {
        background: $she_skeleton_bg;
        animation: $she_animation;
        color: transparent;
        pointer-events: none;
        border: none;

        img,
        svg {
            display: none;
        }

    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 767px) and (max-width: 1100px) {
    .she_products_cover_main .she_product_box{
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .she_products_cover_main .she_product_box {
        padding: 25px;

        .she-installation {
            .she-install-btn {
                padding: 8px 11px;
                min-width: unset;
            }

        }
    }
}


@media (max-width: 600px) {
    .she_products_cover_main .she_product_box{
        flex-direction: column;
    }
}